body {
  background-color: lightgrey;
  margin: 0 auto; /* center elments */
  width: 95%; /* fluid width for samller devices */
  max-width: 1240px; /* control max width of content for larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.form input,
select {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}
